{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="{% static "cookbook.css" %}">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script language="javascript" src="{% static "scripts/main.js" %}"></script>

  <script language="javascript">
String.prototype.format = String.prototype.f = function() {
    var s = this;
    var i = arguments.length;
    while (i--) {
        s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
    }
    return s;
}

function isFlaot(value) {
    return value === +value && value !== (value|0);
}

function endsWithCharacter(value, characters) {
    var strValue = value.toString();
  	if ( characters.search(strValue.substr(strValue.length - 1)) == -1 ) {
        return false;
  	}
  	return true;
}

function cleanNameString(string) {
    // remove leading and trailing white spaces
    string = string.replace(/^\s+|\s+$/g,'');
    // remove all characters that are not leters or space
    string = string.replace(/[^A-Za-z\s]/g,'');
    // replace multiple spaces with single space
    string = string.replace(/\s\s+/g, ' ');
    // make string lowercase
    string = string.toLowerCase();
    return string;
}

function IngredientsData() {

    /// Class containing list of all ingredients that can be used in dish.

    /// Representation of data that is stored in database. Every item in
    /// array consists of database ID's, ingredient name, default quantity,
    /// default unit, and operation flag.
    this.data = [
        [1, 'ogorek gruntowy', 1, 'sztuka', ''],
        [2, 'ogorek szklarniowy', 1, 'sztuka', ''],
        [3, 'cebula', 1, 'sztuka', ''],
        [4, 'papryka czerwona', 1, 'sztuka', ''],
        [5, 'papryka zielona', 1, 'sztuka', ''],
        [6, 'papryka zolta', 1, 'sztuka', ''],
        [7, 'makaron swiderki', 0.5, 'paczka', ''],
    ];

    this.count = function() {
        return this.data.length;
    }

    this.add = function(name, defaultQuantity, defaultUnit) {
        // make sure that we do not have ingredient with specified name
        for (var i in this.data) {
            if (this.getName(i) == name) {
                return;
            }
        }
        this.data.push([0, name, defaultQuantity, defaultUnit, "add"]);
    }

    this.update = function(index, defaultQuantity, defaultUnit) {
        if (index > this.count()) {
            return;
        }
        this.data[index][2] = defaultQuantity;
        this.data[index][3] = defaultUnit;
        // mark data as updated only when it came from database,
        // we do not have to mark data that was recently localy added
        if (this.data[index][4] == "") {
            this.data[index][4] = "update";
        }
    }

    this.get = function(index) {
        if (index < this.count()) {
            var ingredient = this.data[index];
            return {
                id: ingredient[0],
                name: ingredient[1],
                defaulQuantity: ingredient[2],
                defaulUnit: ingredient[3],
                serverUpdateRequired: ingredient[4]
            };
        }
        return {
            id: 0,
            name: "undefined",
            defaulQuantity: 1,
            defaulUnit: "sztuka",
            defaulQuantity: false
        };
    }

    this.getName = function(index) {
        return (index < this.count()) ? this.data[index][1] : "undefined";
    }

    this.getDatabaseFlag = function(index) {
        if (index < this.count()) {
            return this.data[index][4];
        }
        return '';
    }
}

function UnitsData() {

    /// Class representing all available units that can be used
    /// to describe amount of ingredients needed to prepare recipe.

	this.data = [
		//jeden, pol, trzy, dwadziescia piec, database flag
		['butelka', 'butelki', 'butelki', 'butelek', ''],
		['sloik', 'sloika', 'sloiki', 'sloikow', ''],
		['sztuka', 'sztuki', 'sztuki','sztuk', ''],
		['szklanka', 'szklanki', 'szklanki', 'szklanek', ''],
		['litr', 'litra', 'litry', 'litrow', ''],
		['lyzka', 'lyzki', 'lyzki', 'lyzek', ''],
		['lyzeczka', 'lyzeczki', 'lyzeczki', 'lyzeczek', ''],
		['paczka', 'paczki', 'paczki', 'paczek', ''],
		['puszka', 'puszki', 'puszki', 'puszek', ''],
		['opakowanie', 'opakowania', 'opakowania', 'opakowan', ''],
		['worek', 'worka', 'worki', 'workow', ''],
		['kilogram', 'kilograma', 'kilogramy', 'kilogramow', ''],
		['karton', 'kartonu', 'kartony', 'kartonow', ''],
	];

    this.count = function() {
        return this.data.length;
    }

    this.add = function(one, half, three, twentyfive) {
        // make sure that we do not have already unit with specified name
        for (var i in this.data) {
            if (this.name(i) == one) {
                return;
            }
        }
        this.data.push([one, half, three, twentyfive, 'add']);
    }

    this.name = function(index) {
        if (index < this.count()) {
            return this.data[index][0];
        }
        return 'undefined';
    }

    this.getDatabaseFlag = function(index) {
        if (index < this.count()) {
            return this.data[index][4];
        }
        return '';
    }

    this.getAllForms = function(index) {
        if (index < this.count()) {
            return [
                this.data[0],
                this.data[1],
                this.data[2],
                this.data[3]
            ];
        }
        return [];
    }

    this.decline = function(unit, quantity) {
        var index = undefined;
        // find index of specidief unit
        for (var i in this.data) {
            if (this.data[i][0] == unit) {
                index = i;
                break;
            }
        }
        // return unit if index was not found
        if (index == undefined) {
            return unit;
        }
        var forms = this.data[index];
        // determine correct unit form depending on quantity
        if (isFlaot(quantity)) {
            return forms[1];
        }
        else if ((quantity > 4) && (quantity < 22)) {
            return forms[3];
        }
        else if (endsWithCharacter(quantity, '234')) {
            return forms[2];
        }
        else if (quantity != 1 ) {
            return forms[3];
        }
        return unit;
    }
}

function KeywordsData() {

    /// Class representing all available keywords
    /// that can be used to categorize dishes.

	this.data = [
        [1, 'smazone', ''],
        [2, 'pieczone', ''],
        [3, 'gotowane', ''],
        [4, 'dobry sos', ''],
        [5, 'proste', ''],
        [6, 'skaplikowane', ''],
        [7, 'szybkie', '']
	];

    this.count = function() {
        return this.data.length;
    }

    this.add = function(name) {
        this.data.push([999999, name, 'add']);
    }

    this.get = function(index) {
        if (index < this.count()) {
            return this.data[index][1];
        }
        return 'undefined';
    }

    this.getDatabaseFlag = function(index) {
        if (index < this.count()) {
            return this.data[index][2];
        }
        return '';
    }
}

function GeneralProperties() {

    this.initialize = function() {
        var self = this;
    }

    this.getContent = function() {
        var edited = true;
        var id = 0;
        var name = $('#dish-name').val();
        var type = 0;
        var photo = '';
        var password = $('#secret-password').val();
        var typeInput = $('#dish-type input[type="radio"]');
        // check which type option is checked
        for (var i = 0 ; i < typeInput.length ; i++) {
            if ($(typeInput[i]).is(':checked')) {
                type = $(typeInput[i]).attr('value');
                console.log(i);
                break;
            }
        }
        // construct object containing all information
        return {
            'edited': edited,
            'id': id,
            'name': cleanNameString(name),
    	    'type': type,
            'photo': photo,
            'password': password
        };
    }

    this.setContent = function(object) {
        var typeInput = $('#dish-type input');
        $('#dish-name').val(object.name);
        typeInput[object.type].attr('checked', 'checked');
        // todo
    }
}

function IngredientPropertiesHandler() {

    /// Class encapsulating all operations related to dish ingredients.

	this.ingredientsData = undefined;
	this.unitsData = undefined;

    /// Initialize attributes and setup event handlers.
    this.initialize = function(ingredientsData, unitsData) {
        var self = this;
        self.ingredientsData = ingredientsData;
        self.unitsData = unitsData;
        self.synchronizeIngredientList();
        $('#show-add-ingredient-popup').on('tap', function(event) { self.showAddIngredientPopup(); });
        $('#show-add-ingredient-unit-popup').on('tap', function(event) { self.showAddUnitPopup(); });
        $('#add-new-unit').on('tap', function(event) { self.addNewUnitDefinition(); });
    }

    /// Method called when list of available ingredients should be updated.
    this.synchronizeIngredientList = function() {
        var self = this;
        var classText = 'class="ui-btn ui-corner-all ui-shadow ui-screen-hidden"';
        var ingredientsList = $('#all-ingredients-list');
        var itemsInHtml = ingredientsList.children().length;
        var itemsInScript = this.ingredientsData.count();
        var ingredientsText = '';
        var eventIndex;
        // if there is same number of items in html as in javascript array then there is nothing to do
        if (itemsInHtml == itemsInScript) {
            return;
        }
        for (var i = itemsInHtml ; i < itemsInScript ; i++) {
            ingredientsText += '<a href="#" ' + classText + '>' + this.ingredientsData.getName(i) + "</a>";
        }
        ingredientsList.append(ingredientsText);
        eventIndex = itemsInHtml - 1;
        eventIndex = (eventIndex < 0) ? 0 : eventIndex;
        $('#all-ingredients-list a:gt(' + eventIndex + ')').on('tap', function(event) { self.addIngredient($(this).html()); });
    }

    /// Add ingredient to the recipe.
    this.addIngredient = function(name) {
        var self = this;
        var quantity = 1;
        var unit = 'sztuka';
        var text = '';
        var buttonTemplate = '<a href="#" {0} class="ui-btn {1} ui-btn-icon-notext ui-corner-all ui-btn-inline"></a>'
        // find default ingredient unit and quantity
        for (var i = 0 ; i < this.ingredientsData.count() ; i++) {
            if (this.ingredientsData.getName(i) == name) {
                var ingredient = this.ingredientsData.get(i);
                quantity = ingredient.defaulQuantity;
                unit = this.unitsData.decline(ingredient.defaulUnit, quantity);
                break;
            }
        }
        text = '<tr>' +
                 '<td>' + name + '</td>' +
                 '<td>' + quantity + '</td>' +
                 '<td>' + unit + '</td>' +
                 '<td>' +
                    buttonTemplate.f( '', 'ui-icon-arrow-u') +
                    buttonTemplate.f( '', 'ui-icon-arrow-d') +
                    buttonTemplate.f( '', 'ui-icon-gear') +
                    buttonTemplate.f( '', 'ui-icon-delete') +
                 '</td>' +
               '</tr>';
      $('#ingredinets-table').append(text);
	  // move ingredient up
	  $('#ingredinets-table tr:last td:last a:first').on('tap', function(event) {
          var index = $(this).parent().parent().index() + 1;
          self.swapIngredients(index, index-1);
	  });
	  // move ingredient down
	  $('#ingredinets-table tr:last td:last a:nth-child(2)').on('tap', function(event) {
          var index = $(this).parent().parent().index() + 1;
          self.swapIngredients(index, index+1);
	  });
	  // edit ingredient
	  $('#ingredinets-table tr:last td:last a:nth-child(3)').on('tap', function(event) {
          var index = $(this).parent().parent().index() + 1;
          self.showEditIngredientPopup(index);
	  });
	  // delete ingredient
	  $('#ingredinets-table tr:last td:last a:last').on('tap', function(event) {
          self.removeIngredient($(this).parent().parent().index() + 1);
	  });
      $('#available-ingredients').val('');
      $('#all-ingredients-list a').addClass('ui-screen-hidden');
    }

    /// Swap places of two added ingredients.
    this.swapIngredients = function(firstIndex, secondIndex) {
        var firstItemChildren = undefined;
        var secondItemChildren = undefined;
        var ingredinetsCount = $('#ingredinets-table tr').length;

        firstIndex = (firstIndex < 1) ? ingredinetsCount : ((firstIndex > ingredinetsCount) ? 1 : firstIndex);
        secondIndex = (secondIndex < 1) ? ingredinetsCount : ((secondIndex > ingredinetsCount) ? 1 : secondIndex);
        if (firstIndex == secondIndex ) {
            return;
        }

        firstItemChildren = $('#ingredinets-table tr:nth-child(' + firstIndex + ') td');
        secondItemChildren = $('#ingredinets-table tr:nth-child(' + secondIndex + ') td');

        name = firstItemChildren.eq(0).text();
        quantity = firstItemChildren.eq(1).text();
        unit = firstItemChildren.eq(2).text();
        firstItemChildren.eq(0).text(secondItemChildren.eq(0).text());
        firstItemChildren.eq(1).text(secondItemChildren.eq(1).text());
        firstItemChildren.eq(2).text(secondItemChildren.eq(2).text());
        secondItemChildren.eq(0).text(name);
        secondItemChildren.eq(1).text(quantity);
        secondItemChildren.eq(2).text(unit);
    }

    /// Remove ingredient that was added to recipe.
    this.removeIngredient = function(index) {
        $('#ingredinets-table tr:nth-child(' + index + ')').remove();
    }

    /// Create list of available units that can be used during adding ingredients to recipe.
    this.createListOfAvailableUnits = function(listTagId, unitCallback) {
        var allUnitsText = "";
        var classText = 'class="ui-btn ui-corner-all ui-shadow ui-screen-hidden"';
        for (var i = 0 ; i < this.unitsData.count() ; i++) {
            allUnitsText += '<a href="#" ' + classText + '>' + this.unitsData.name(i) + "</a>";
        }
        $(listTagId).html(allUnitsText);
        // define function that is called when unit is selected
        $(listTagId + ' a').on('tap', unitCallback);
    }

    /// Show popup that enables posibility to edit ingredient unit.
    this.showEditIngredientPopup = function(index) {
        var editPopup = $('#edit-ingredient-popup');
        var self = this;
        // clear form content
        $('#edit-ingredient-quantity').val(1);
        $('#edit-ingredient-unit-input').val("");
        this.createListOfAvailableUnits('#edit-ingredient-all-units-list', function(event) { 
            var unit = $(this).html();
            var quantity = $('#edit-ingredient-quantity').val();
            quantity = parseInt(quantity);
            if ((quantity == NaN) || (quantity == undefined)) {
  	    	    return;
            }
            self.applyUnitAndQuantity(index, unit, quantity);
        });
        // show popup
        editPopup.popup('open');
    }

    /// Show popup that can be used to define new ingredient.
    this.showAddIngredientPopup = function() {
        var self = this;
        // clear form content
 	    $('#add-ingredient-name').val("");
	    $('#add-ingredient-quantity').val(1);
        $('#add-ingredient-unit').val("");
        this.createListOfAvailableUnits('#add-ingredient-all-units-list', function(event) {
            // get ingredient data
            var name = $('#add-ingredient-name').val();
            var defaultQuantity = $('#add-ingredient-quantity').val();
            var defaultUnit = $(this).html();
            // validate data
            defaultQuantity = parseInt(defaultQuantity);
            if ((defaultQuantity == NaN) || (defaultQuantity == undefined)) {
                return;
            }
            // add new ingredient definition
            self.addNewIngredientDefinition(name, defaultQuantity, defaultUnit);
            $('#add-ingredient-popup').popup('close');
        });
        $('#add-ingredient-popup').popup('open');
    }

    /// Show popup that can be used to define new units.
    this.showAddUnitPopup = function() {
        var forms = $('#add-ingredient-unit-popup input');
        $(forms[0]).val("");
        $(forms[1]).val("");
        $(forms[2]).val("");
        $(forms[3]).val("");
        $('#add-ingredient-unit-popup').popup('open');
    }

    /// Callback used when data entered to edit-ingredient popup was confirmed.
    this.applyUnitAndQuantity = function(index, unit, quantity) {
        var itemChildren = $('#ingredinets-table tr:nth-child(' + index + ') td');
        itemChildren.eq(1).text(quantity);
        itemChildren.eq(2).text(this.unitsData.decline(unit, quantity));
        $('#edit-ingredient-popup').popup('close');
    }

    /// Callback used when new ingredient was defined.
    this.addNewIngredientDefinition = function(name, defaultQuantity, defaultUnit) {
        // check if ingrediant exists
       for (var i = 0 ; i < this.ingredientsData.count() ; i++) {
            var ingredient = this.ingredientsData.get(i);
            if (ingredient.name == name) {
                this.ingredientsData.update(i, defaultQuantity, defaultUnit);
                return;
            }
        }
        // add new ingredient
        this.ingredientsData.add(cleanNameString(name), defaultQuantity, defaultUnit);
        // update list of ingredients
        this.synchronizeIngredientList();
	}

    /// Callback used when new unit was defined.
	this.addNewUnitDefinition = function(unit) {
        var forms = $('#add-ingredient-unit-popup input');
        var one = $(forms[0]).val();
        var half = $(forms[1]).val();
        var three = $(forms[2]).val();
        var twentyfive = $(forms[3]).val();
        this.unitsData.add(
            cleanNameString(one),
            cleanNameString(half),
            cleanNameString(three),
            cleanNameString(twentyfive));
        $('#add-ingredient-unit-popup').popup('close');
	}

    this.getContent = function() {
        var i = 0;
        var ingredient;
        var edited = true;
        var addedUnitsData = [];
        var addedIngredientsData = [];
        var dishIngredinetsArray = [];
        var ingredientData = undefined;
        var dishIngredinetsHtml = $('#ingredinets-table tr');
        // get all newly added (in this sesion) units
        for (i = 0 ; i < this.unitsData.count() ; i++) {
            if (this.unitsData.getDatabaseFlag(i) == 'add') {
                addedUnitsData.push(this.unitsData.getAllForms(i));
            }
        }
        // get all newly added (in this sesion) ingredients
        for (i = 0 ; i < this.ingredientsData.count() ; i++) {
            if (this.ingredientsData.getDatabaseFlag(i) == 'add') {
                ingredient = this.ingredientsData.get(i);
                addedIngredientsData.push([
                    ingredient.name,
                    ingredient.defaulQuantity,
                    ingredient.defaulUnit
                ]);
            }

        }
        // get all dish ingredients
        for (i = 0 ; i < dishIngredinetsHtml.length ; i++) {
            var ingredientData = $(dishIngredinetsHtml[i]).children();
            dishIngredinetsArray.push([
                $(ingredientData[0]).text(),     // name
                $(ingredientData[1]).text(),     // quantity
                $(ingredientData[2]).text()      // unit
            ]);
        }

        return {
            'edited': edited,
            'new-units': addedUnitsData,
            'new-ingredients': addedIngredientsData,
            'selected': dishIngredinetsArray
        };
    }
}

function RecipePropertiesHandler() {

    /// Class encapsulating all operations related to dish recipe.

    this.recipeSections = undefined;

    this.initialize = function() {
        var self = this;
        this.recipeSections = $('#recipe-sections');
        // assign hadler to popup that lets to add new section
        $('#add-recipe-section').on('tap', function(event) { self.addNewRecipeSection(); });
        // assign handler to popup that lets to edit section name
        $('#edit-recipe-section-name-popup a').on('tap', function(event) { self.applyEditSectionName(); });
        // assign handlers to popup that lets to operate on section points
        $('#recipe-item-options .move-point-up').on('tap', function(event) { self.movePointUp(); });
        $('#recipe-item-options .move-point-down').on('tap', function(event) { self.movePointDown(); });
        $('#recipe-item-options .edit-point').on('tap', function(event) { self.showEditPointTextPopup(); });
        $('#recipe-item-options .delete-point').on('tap', function(event) { self.deletePoint(); });
        // assign handler to popup that lets to edit point text
	    $('#edit-recipe-point-text-popup a').on('tap', function(event) { self.applyEditedPointText(); });
    }

    /// Add new recipe section.
    this.addNewRecipeSection = function() {
        var self = this;
        var newSectionName = $('#new-recipe-section-name');
        var text = '';
        var buttonClasses = 'ui-btn ui-btn-icon-notext ui-corner-all ui-btn-inline ';
        text = '<div>' +
                 '<div class="ui-bar ui-bar-a">' +
                   '<h4 style="margin-top: 5px;">' + newSectionName.val() + '</h4>' +
                   '<div style="height: 28px; float: right;">' +
                     '<a href="#" class="' + buttonClasses + 'ui-icon-arrow-u" style="margin-top:0px;"></a>' +
                     '<a href="#" class="' + buttonClasses + 'ui-icon-arrow-d" style="margin-top:0px;"></a>' +
                     '<a href="#" class="' + buttonClasses + 'ui-icon-gear" style="margin-top:0px;"></a>' +
                     '<a href="#" class="' + buttonClasses + 'ui-icon-delete" style="margin-top:0px;"></a>' +
                   '</div>' +
                 '</div>' +
                 '<div class="ui-body ui-body-a">' +
                   '<ol class="ui-listview" data-role="listview" style="margin:8px;">' +
                   '</ol>' +
                   '<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">' +
                     '<input placeholder="Opis punktu" value="" type="text">' +
                   '</div>' +
                   '<button class="ui-btn ui-icon-plus ui-btn-icon-left ui-shadow ui-corner-all ui-mini" type="button">Dodaj punkt</button>' +
                 '</div>' +
               '</div>';
        this.recipeSections.append(text);
        $('#recipe-sections > div:last .ui-icon-arrow-u').on('tap', function(event) { self.moveSectionUp($(this).parent().parent().parent()); });
        $('#recipe-sections > div:last .ui-icon-arrow-d').on('tap', function(event) { self.moveSectionDown($(this).parent().parent().parent()); });
        $('#recipe-sections > div:last .ui-icon-gear').on('tap', function(event) { self.showEditSectionPopup($(this).parent().parent().parent()); });
        $('#recipe-sections > div:last .ui-icon-delete').on('tap', function(event) { $(this).parent().parent().parent().remove(); });
        $('#recipe-sections > div:last button').on('tap', function(event) { self.addNewPoint($(this).parent()); });
        newSectionName.val('');
    }

    /// Move section up.
    this.moveSectionUp = function(item) {
        var index = item.index() + 1;
        this.swapSections(index, index-1);
    }

    /// Move section down.
    this.moveSectionDown = function(item) {
        var index = item.index() + 1;
        this.swapSections(index, index+1);
    }

    /// Swap section names and recipe points betwean two sections.
    this.swapSections = function(firstIndex, secondIndex) {
        var firstSectionHeader = undefined;
        var secondSectionHeader = undefined;
        var firstSectionHeaderText = undefined;
        var firstPointList = undefined;
        var secondPointList = undefined;
        var firstPointListHtml = undefined;
        var sectionsCount = this.recipeSections.children().length;

        firstIndex = (firstIndex < 1) ? sectionsCount : ((firstIndex > sectionsCount) ? 1 : firstIndex);
        secondIndex = (secondIndex < 1) ? sectionsCount : ((secondIndex > sectionsCount) ? 1 : secondIndex);
        if (firstIndex == secondIndex ) {
            return;
        }

        firstSectionHeader = $('#recipe-sections > div:nth-child(' + firstIndex + ') h4');
        secondSectionHeader = $('#recipe-sections > div:nth-child(' + secondIndex + ') h4');

        firstSectionHeaderText = firstSectionHeader.text();
        firstSectionHeader.text(secondSectionHeader.text());
        secondSectionHeader.text(firstSectionHeaderText);

        firstPointList = $('#recipe-sections > div:nth-child(' + firstIndex + ') ol');
        secondPointList = $('#recipe-sections > div:nth-child(' + secondIndex + ') ol');

        firstPointListHtml = firstPointList.html();
        firstPointList.html(secondPointList.html());
        secondPointList.html(firstPointListHtml);
    }

    /// Show popup that can be used to edit section name.
    this.showEditSectionPopup = function(item) {
        var editPopup = $('#edit-recipe-section-name-popup');
        $('#edit-recipe-section-name-popup input').val("");
        editPopup.attr('data-index', item.index() + 1);
        editPopup.popup('open');
    }

    /// Apply text entered to popup that defines new section name.
    this.applyEditSectionName = function() {
        var newName = $('#edit-recipe-section-name-popup input').val();
        var editPopup = $('#edit-recipe-section-name-popup');
        var index = parseInt(editPopup.attr('data-index'));
        $('#recipe-sections > div:nth-child(' + index + ') h4').text(newName);
        editPopup.popup('close');
    }

    /// Add new point to recipe.
    this.addNewPoint = function(item) {
        var self = this;
        var bodyItems = item.children();
        var pointList = undefined;
        var pointInput = $(bodyItems[1].firstChild);
        var pointText = pointInput.val();
        var pointTemplate = '<li data-icon="false" class="ui-mini">' +
                               '<a class="ui-btn" href="#" aria-haspopup="true" aria-expanded="false">' +
                               '{0}' +
                               '</a>' +
                            '</li>';
        // if point text was not specified then there is nothing to do
        if (pointText == '') {
            return;
        }
        // append new point to the end
        pointList = $(bodyItems[0]);
        pointList.append(pointTemplate.format(pointText));
        pointInput.val('');
        // add on tap event callback
        pointList = pointList.children();
        $(pointList[pointList.length - 1]).on('tap', function(event) {
        	self.showEditSectionPointPopup($(this), event.pageX, event.pageY);
        });
    }

    /// Show popup that can be used to edit section point (recipe preparation step) properties.
    this.showEditSectionPointPopup = function(item, popupX, popupY) {
        var optionsPopup = $('#recipe-item-options');
        optionsPopup.attr('data-section-index', item.parent().parent().parent().index() + 1);
        optionsPopup.attr('data-point-index', item.index() + 1);
        optionsPopup.popup('open', {
        	x: popupX,
        	y: popupY
        });
    }

    /// Move point up.
    this.movePointUp = function() {
        var optionsPopup = $('#recipe-item-options');
        var sectionIndex = parseInt(optionsPopup.attr('data-section-index'));
        var pointIndex = parseInt(optionsPopup.attr('data-point-index'));
        var pointList = $('#recipe-sections > div:nth-child(' + sectionIndex + ') li');
	    this.swapSectionPoints(pointList, pointIndex, pointIndex-1);
	    optionsPopup.popup('close');
    }

    /// Move point down.
    this.movePointDown = function() {
        var optionsPopup = $('#recipe-item-options');
        var sectionIndex = parseInt(optionsPopup.attr('data-section-index'));
        var pointIndex = parseInt(optionsPopup.attr('data-point-index'));
        var pointList = $('#recipe-sections > div:nth-child(' + sectionIndex + ') li');
	    this.swapSectionPoints(pointList, pointIndex, pointIndex+1);
	    optionsPopup.popup('close');
    }

    /// Swap points in single section.
    this.swapSectionPoints = function(pointList, firstIndex, secondIndex) {
        var firstPoint = undefined;
        var secondPoin = undefined;
        var firstPointText = undefined;
        var pointCount = pointList.length;
		// validate indexes
        firstIndex = (firstIndex < 1) ? pointCount : ((firstIndex > pointCount) ? 1 : firstIndex);
        secondIndex = (secondIndex < 1) ? pointCount : ((secondIndex > pointCount) ? 1 : secondIndex);
        if (firstIndex == secondIndex ) {
            return;
        }
		// <li> tag has single <a> tag inside - text must be copied from it
        firstPoint = $(pointList[firstIndex-1]).children().first();
		secondPoint = $(pointList[secondIndex-1]).children().first();
		// swap text
        firstPointText = firstPoint.text();
		firstPoint.text(secondPoint.text());
        secondPoint.text(firstPointText);
    }

	/// Get point at specified index from section with specified index.
	this.getSectionPoint = function(sectionIndex, pointIndex) {
		return $('#recipe-sections > div:nth-child(' + sectionIndex + ') ol > li:nth-child(' + pointIndex + ') a');
	}

	/// Show popup that enebles possibility to edit point text.
    this.showEditPointTextPopup = function() {
	    var optionsPopup = $('#recipe-item-options');
        var sectionIndex = parseInt(optionsPopup.attr('data-section-index'));
        var pointIndex = parseInt(optionsPopup.attr('data-point-index'));
        var previousText = this.getSectionPoint(sectionIndex, pointIndex).text();
	    var editPopup = $('#edit-recipe-point-text-popup');
	    // close options popup
	    optionsPopup.popup('close');
	    // set the section and point index in edit popup
        editPopup.attr('data-section-index', sectionIndex);
        editPopup.attr('data-point-index', pointIndex);
        // set the previous text to input box so that it can be edited
        $('#edit-recipe-point-text-popup input').val(previousText);
        // show popup in which we can edit point text - this popup is
        // delayed because in jquery mobile popups can't be chained, its
        // possible that in some case delay may be to small - in that case
        // workaround using popupafterclose should be used
        setTimeout(function() {
		    editPopup.popup('open');
		}, 300);
    }

	/// Apply edited point text.
    this.applyEditedPointText = function() {
	    var editPopup = $('#edit-recipe-point-text-popup');
        var sectionIndex = parseInt(editPopup.attr('data-section-index'));
        var pointIndex = parseInt(editPopup.attr('data-point-index'));
        var newPointText = $('#edit-recipe-point-text-popup input').val();
        this.getSectionPoint(sectionIndex, pointIndex).text(newPointText);
	    editPopup.popup('close');
    }

    /// Delete selected point from specified section.
    this.deletePoint = function() {
        var optionsPopup = $('#recipe-item-options');
        var sectionIndex = parseInt(optionsPopup.attr('data-section-index'));
        var pointIndex = parseInt(optionsPopup.attr('data-point-index'));
        // remove whole <li> tag
        this.getSectionPoint(sectionIndex, pointIndex).parent().remove();
		optionsPopup.popup('close');
    }

    this.getContent = function() {
        var i = 0;
        var j = 0;
        var sectionPoints = [];
        var sectionObjects = [];
        var allSectionNamesHtml = $('#recipe-sections h4');
        var allSectionPointsHtml = $('#recipe-sections ol');
        var sectionPointsHtml;
        // make sure that there is as much titles as section point lists
        if (allSectionNamesHtml.length != allSectionPointsHtml.length) {
            return;
        }
        // iterate over all section names
        for(i = 0 ; i < allSectionNamesHtml.length ; i++) {
            sectionPointsHtml = $(allSectionPointsHtml[i]).children();
            // construc array of section points
            sectionPoints = [];
            for(j = 0 ; j < sectionPointsHtml.length ; j++) {
                sectionPoints.push($(sectionPointsHtml[j]).text());
            }
            sectionObjects.push({
                'name': $(allSectionNamesHtml[i]).text(),
                'points': sectionPoints
            });
        }
        return sectionObjects;
    }
}

function KeywordsPropertiesHandler() {

    /// Class encapsulating all operations related to dish keywords.

	this.keywordsData = undefined;

	this.initialize = function(keywordsData) {
        var self = this;
		this.keywordsData = keywordsData;
		this.synchronizeKeywordsList();
        $('#add-new-keyword').on('tap', function(event) { self.showAddKeywordPopup(); });
        $('#add-keyword').on('tap', function(event) { self.addNewKeywordDefinition(); });
	}

    /// Method called when list of available keywords should be updated.
    this.synchronizeKeywordsList = function() {
        var self = this;
        var classText = 'class="ui-btn ui-corner-all ui-shadow ui-screen-hidden"';
        var keywordsList = $('#all-keywords-list');
        var itemsInHtml = keywordsList.children().length;
        var itemsInScript = this.keywordsData.count();
        var keywordsText = '';
        var selectorString = '#all-keywords-list a';
        // if there is same number of items in html as in javascript array then there is nothing to do
        if (itemsInHtml == itemsInScript) {
            return;
        }
        for (var i = itemsInHtml ; i < itemsInScript ; i++) {
            keywordsText += '<a href="#" ' + classText + '>' + this.keywordsData.get(i) + "</a>";
        }
        keywordsList.append(keywordsText);
        // if there already were items added then only add 'on tap' handler
        // to those who have been added during this synchronizations
        if (itemsInHtml > 0) {
            selectorString += (':gt(' + (itemsInHtml - 1) + ')');
        }
        $(selectorString).on('tap', function(event) { self.addKeyword($(this).text()); });
    }

    /// Add keyword to the keyword list.
    this.addKeyword = function(name) {
    	var self = this;
    	var text = '<a href="#" class="ui-btn ui-mini ui-btn-inline ui-icon-delete ui-btn-icon-left">' +
                      cleanNameString(name) +
                   '</a>';
        var keywordShouldBeAdded = true;
        var allKeywords = $('#keywords-list a');
        // check if this keywoard is not already present
        for (var i = 0 ; i < allKeywords.length ; i++) {
            if ($(allKeywords[i]).text() == name) {
                keywordShouldBeAdded = false;
                break;
            }
        }
        if (keywordShouldBeAdded) {
            $('#keywords-list').append(text);
            $('#keywords-list a:last').on('tap', function(event) { self.deleteKeyword($(this).index()+1); });
        }
	    $('#available-keywords').val('');
	    $('#all-keywords-list a').addClass('ui-screen-hidden');
    }

    /// Delete keyword from the keyword list.
    this.deleteKeyword = function(index) {
	    $('#keywords-list a:nth-child(' + index + ')').remove();
    }

    /// Show popup that can be used to define new keyword.
    this.showAddKeywordPopup = function() {
        $('#new-keyword').val("");
        $('#add-keyword-popup').popup('open');
    }

    /// Callback used when new keyword was defined.
    this.addNewKeywordDefinition = function() {
        var name = $('#new-keyword').val();
        // check if keyword already exists
        for (var i = 0 ; i < this.keywordsData.count() ; i++) {
            if (this.keywordsData.get(i) == name) {
                return;
            }
        }
        // add new keyword
        this.keywordsData.add(name);
        // update list of keywords
        this.synchronizeKeywordsList();
        $('#add-keyword-popup').popup('close');
	}

    this.getContent = function() {
        var i = 0;
        var edited = true;
        var keywordsHtml = [];
        var newKeywords = [];
        var selectedKeywords = [];
        // get new keywords
        for (i = 0 ; i < this.keywordsData.count() ; i++) {
            if (this.keywordsData.getDatabaseFlag(i) == 'add') {
                newKeywords.push(this.keywordsData.get(i));
            }
        }
        // get list of selected keywords
        keywordsHtml = $('#keywords-list a');
        for (i = 0 ; i < keywordsHtml.length ; i++) {
            selectedKeywords.push($(keywordsHtml[i]).text());
        }
        return {
            'edited': edited,
            'new': newKeywords,
            'selected': selectedKeywords
        };
    }
}

function DishProperiesHandler() {

    this.generalProperties = undefined;
	this.ingredientProperties = undefined;
    this.recipeProperties = undefined;
    this.keywordsProperties = undefined;

    this.initialize = function(ingredientsData, unitsData, keywordsData) {
        var self = this;
        this.generalProperties = new GeneralProperties();
        this.generalProperties.initialize();
        this.ingredientProperties = new IngredientPropertiesHandler();
        this.ingredientProperties.initialize(ingredientsData, unitsData);
        this.recipeProperties = new RecipePropertiesHandler();
        this.recipeProperties.initialize();
        this.keywordsProperties = new KeywordsPropertiesHandler();
        this.keywordsProperties.initialize(keywordsData);
		$('#dish-defined').on('tap', function(event) { self.applyDishProperties(); });
		//$('#dish-definition-canceled').on('tap', function(event) { self.goToHomeScreen(); });
    }

    this.applyDishProperties = function() {
        var dishData = {
            'general': this.generalProperties.getContent(),
            'ingredients': this.ingredientProperties.getContent(),
            'recipe': this.recipeProperties.getContent(),
            'keywords': this.keywordsProperties.getContent()
        };
        console.log(JSON.stringify(dishData));
    }
}

  </script>

</head>
<body>

<div data-role="page" id="meal-selection-page">
  <div data-role="panel" id="main-panel" data-display="reveal" data-position="left" data-theme="a">
    <a href="#dish-properties-page" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Dodaj danie</a>
  </div>
  <div data-role="header">
    <h1>CookBook {{ version }}</h1>
  </div>
  <div data-role="main" class="ui-content">
    <a href="#" class="ui-btn ui-meal-button ui-icon-breakfast"></a>
    <a href="#" class="ui-btn ui-meal-button ui-icon-soup"></a>
    <a href="#" class="ui-btn ui-meal-button ui-icon-dinner"></a>
    <a href="#" class="ui-btn ui-meal-button ui-icon-desert"></a>
  </div>
  <div data-role="footer">
    <h1>Select meal</h1>
  </div>
</div> 


<div data-role="page" id="dish-properties-page">
  <div data-role="header">
    <a href="#meal-selection-page" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
    <h1>CookBook {{ version }}</h1>
  </div>

  <div data-role="main" class="ui-content">

    <div data-role="popup" id="add-ingredient-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <h3>Nowy skladnik</h3>
        <input id="add-ingredient-name" value="" placeholder="Nazwa" data-theme="a" type="text">
        <input id="add-ingredient-quantity" value="" placeholder="1" data-theme="a" type="text">
		<div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
		  <input data-type="search" data-enhanced="true" data-inset="false" id="add-ingredient-unit" placeholder="Wybierz jednostke" value="">
		</div>
		<div data-role="controlgroup" data-enhanced="true" data-filter="true" data-filter-reveal="true" data-input="#add-ingredient-unit" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
		  <div id="add-ingredient-all-units-list" class="ui-controlgroup-controls">
		  </div>
        </div>
      </form>
    </div>
    <div data-role="popup" id="add-ingredient-unit-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <h3>Formy nowej jednostki</h3>
        <input value="" placeholder="jeden/jedna/jedno" data-theme="a" type="text">
        <input value="" placeholder="pol" data-theme="a" type="text">
        <input value="" placeholder="trzy" data-theme="a" type="text">
        <input value="" placeholder="dwadziescia piec" data-theme="a" type="text">
        <a href="#" id="add-new-unit" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>
    <div data-role="popup" id="edit-ingredient-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <h3>Edycja skladnika</h3>
        <input id="edit-ingredient-quantity" value="" placeholder="Ilosc" data-theme="a" type="text">
		<!-- unit finder -->
		<div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
		  <input data-type="search" data-enhanced="true" data-inset="false" id="edit-ingredient-unit" placeholder="Wybierz jednostke" value="">
		</div>
		<div data-role="controlgroup" data-enhanced="true" data-filter="true" data-filter-reveal="true" data-input="#edit-ingredient-unit" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
		  <div id="edit-ingredient-all-units-list" class="ui-controlgroup-controls">
		  </div>
        </div>
      </form>
    </div>
    <div data-role="popup" id="edit-recipe-section-name-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <input value="" placeholder="Nowa nazwa sekcji" data-theme="a" type="text">
        <a href="#" id="edit-recipe-section-name" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>
    <div data-role="popup" id="recipe-item-options" data-theme="none" data-arrow="true">
      <ul data-role="listview">
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn move-point-up">Przesun w gore</a></li>
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn move-point-down">Przesun w dol</a></li>
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn edit-point">Edytuj</a></li>
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn delete-point">Usun</a></li>
      </ul>
    </div>
    <div data-role="popup" id="edit-recipe-point-text-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <input value="" data-theme="a" type="text">
        <a href="#" id="edit-recipe-point-name" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>
    <div data-role="popup" id="add-keyword-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <input id="new-keyword" value="" placeholder="Nowa kategoria" data-theme="a" type="text">
        <a href="#" id="add-keyword" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>

    <form>
      <div data-role="collapsibleset" data-content-theme="a" style="margin-left:15px; margin-right:15px;">
        <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
	      <h1>Informacje podstawowe</h1>
          <input id="dish-name" placeholder="Nazwa dania" value="" type="text">
          <fieldset id="dish-type" data-role="controlgroup" data-type="horizontal" data-mini="true">
            <input id="dish-type-breakfast" name="dish-type" value="0" type="radio" checked="checked">
            <label for="dish-type-breakfast">Sniadanie/Kolacja</label>
            <input id="dish-type-soup" name="dish-type" value="1" type="radio">
            <label for="dish-type-soup">Zupa</label>
            <input id="dish-type-main" name="dish-type" value="2" type="radio">
            <label for="dish-type-main">Danie glowne</label>
            <input id="dish-type-desert" name="dish-type" value="3" type="radio">
            <label for="dish-type-desert">Deser</label>
          </fieldset>
      	  <button type="button" data-icon="gear" data-iconpos="left" data-mini="true" data-inline="true" id="add-image">Ustaw zdjecie</button>
      	</div>

	    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      	  <h1>Skladniki</h1>
	      <table id="ingredinets-table" style="width:100%">
	      </table>
          <!-- ingredient finder -->
          <div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
            <input data-type="search" data-enhanced="true" data-inset="false" id="available-ingredients" placeholder="Wyszukaj istniejacy skladnik" value="">
          </div>
          <div data-role="controlgroup" data-enhanced="true" data-filter="true" data-filter-reveal="true" data-input="#available-ingredients" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
            <div id="all-ingredients-list" class="ui-controlgroup-controls">
            </div>
          </div>
          <a href="#" id="show-add-ingredient-popup" class="ui-btn ui-btn-icon-left ui-icon-plus ui-corner-all ui-btn-inline">Dodaj nowy skladnik</a>
          <a href="#" id="show-add-ingredient-unit-popup" class="ui-btn ui-btn-icon-left ui-icon-plus ui-corner-all ui-btn-inline">Dodaj nowa jednostke</a>
	    </div>

	    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
	      <h1>Przepis</h1>
	      <div id="recipe-sections">
          </div>
          <br/>
          <input id="new-recipe-section-name" placeholder="Dodaj kolejna sekcje" value="" type="text">
          <button id="add-recipe-section" type="button" data-icon="plus" data-iconpos="left" data-mini="true">Dodaj nowa sekcje</button>
        </div>

	    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
	      <h1>Kategorie</h1>
	      <!-- list of selected keywords -->
	      <div id="keywords-list">
          </div>
          <!-- keyword finder -->
          <div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
            <input data-type="search" data-enhanced="true" data-inset="false" id="available-keywords" placeholder="Wyszukaj istniejaca kategorie" value="">
          </div>
          <div data-role="controlgroup" data-enhanced="true" data-filter="true" data-filter-reveal="true" data-input="#available-keywords" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
            <div id="all-keywords-list" class="ui-controlgroup-controls">
            </div>
          </div>
          <button type="button" data-icon="plus" data-iconpos="left" data-mini="true" data-inline="true" id="add-new-keyword">Dodaj nowa kategorie</button>
        </div>
      </div>

	  <!-- add new category, that was not used before -->
      </br>
      <input id="secret-password" placeholder="Haslo" value="" type="text">
	  <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <a href="#" id="dish-defined" class="ui-btn ui-corner-all">Gotowe</a>
        </div>
        <div class="ui-block-b">
          <a href="#" id="dish-definition-canceled" class="ui-btn ui-corner-all">Anuluj</a>
        </div>
	  </fieldset>	 
    </form>
  </div>

  <div data-role="footer">
    <h1>Edit meal</h1>
  </div>
</div>

<div data-role="page" id="dish-list-page">
  <div data-role="header">
    <a href="#meal-selection-page" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
    <h1>Dishes</h1>
  </div>
  <div data-role="main" class="ui-content">
    <ul id="dish-list" data-role="listview" data-autodividers="true" data-inset="true">
    </ul>
  </div>
  <div data-role="footer">
    <h1>Select dish</h1>
  </div>
</div>

<div data-role="page" id="dish-page">
  <div data-role="header">
    <a href="#meal-selection-page" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
    <h1>Dish name</h1>
  </div>
  <div data-role="main" class="ui-content">
    <img id="dish-photo" src="" alt="">
	<h3>Skladniki</h3>
      <ul id="dish-ingredients"></ul>
    <h3>Przepis</h3>
      <ol id="dish-recipe"></ol>
 	<h3>Slowa kluczowe</h3>
      <p id="dish-keywords"></p>
  </div>
  <div data-role="footer">
    <h1></h1>
  </div>
</div>

<script>
    $( document ).ready(function() {
        $('.ui-icon-breakfast').on('tap', function() { requestDishList('breakfast'); });
        $('.ui-icon-soup').on('tap', function() { requestDishList('soup'); });
        $('.ui-icon-dinner').on('tap', function() { requestDishList('dinner'); });
        $('.ui-icon-desert').on('tap', function() { requestDishList('desert'); });
    });
    $( document ).on('swipeleft swiperight', "#meal-selection-page", function( event ) {
		if ( $( ".ui-page-active" ).jqmData( "panel" ) !== "open" ) {
			if ( event.type === "swiperight" ) {
				$( "#main-panel" ).panel( "open" );
			}
        }
	});

    var ingredientsData = new IngredientsData();
    var unitsData = new UnitsData();
    var keywordsData = new KeywordsData();
    var dishPropertiesHandler = new DishProperiesHandler();
    dishPropertiesHandler.initialize(ingredientsData, unitsData, keywordsData);

</script>

</body>
</html>

