{% load static from staticfiles %}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="{% static "cookbook.css" %}">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script language="javascript" src="{% static "md5.min.js" %}"></script>
  <script language="javascript" src="{% static "scripts/utils.js" %}"></script>
  <script language="javascript" src="{% static "scripts/units-data.js" %}"></script>
  <script language="javascript" src="{% static "scripts/categories-data.js" %}"></script>
  <script language="javascript" src="{% static "scripts/ingredients-data.js" %}"></script>
  <script language="javascript" src="{% static "scripts/ingredient-types-data.js" %}"></script>
  <script language="javascript" src="{% static "scripts/globals.js" %}"></script>
  <script language="javascript" src="{% static "scripts/dish-backup.js" %}"></script>
  <script language="javascript" src="{% static "scripts/dish-properties.js" %}"></script>
  <script language="javascript" src="{% static "scripts/dish-presenter.js" %}"></script>
  <script language="javascript" src="{% static "scripts/dish-done-handler.js" %}"></script>
</head>
<body>

{% include "meal_selection_page.html" %}

{% include "dish_properties_page.html" %}

{% include "dish_list_page.html" %}

{% include "dish_page.html" %}

{% include "dish_done_page.html" %}

<script>
    var globals = new Globals();
    var dishBackup = new DishBackup();
    var dishPresenter = new DishPresenter();
    var dishPropertiesHandler = new DishProperies();

    dishBackup.initialize(globals);
    dishPresenter.initialize(globals);
    dishPropertiesHandler.initialize(globals);

    $( document ).ready(function() {
        $('#add-dish-option').on('tap', function() {
            dishPropertiesHandler.synchronizeComponents();
            $.mobile.changePage($('#dish-properties-page'));
        });
        $('#remove-dish-option').on('tap', function() {
            $('#remove-dish-popup').popup('open');
        });
        $('#backup-dishes-option').on('tap', function() {
            $('#backup-dishes-popup').popup('open');
        });
        $('#upload-dishes-option').on('tap', function() {
            $('#upload-dishes-popup').popup('open');
        });

        adjustPageHeight( $('#meal-selection-page'), true );

        // get from server all dish ingreadiens, units and categories
        globals.requestComponents();
    });

    $( document ).on('swipeleft swiperight', "#meal-selection-page", function( event ) {
		if ( $( ".ui-page-active" ).jqmData( "panel" ) !== "open" ) {
			if ( event.type === "swiperight" ) {
				$( "#main-panel" ).panel( "open" );
			}
        }
	});
    $( document ).on('swipeleft swiperight', "#dish-page", function( event ) {
		if ( $( ".ui-page-active" ).jqmData( "panel" ) !== "open" ) {
			if ( event.type === "swiperight" ) {
				$( "#dish-panel" ).panel( "open" );
			}
        }
	});
</script>

</body>
</html>

