{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="{% static "cookbook.css" %}">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script language="javascript" src="{% static "scripts/main.js" %}"></script>
  <script language="javascript" src="{% static "scripts/utils.js" %}"></script>
  <script language="javascript" src="{% static "scripts/units-data.js" %}"></script>
  <script language="javascript" src="{% static "scripts/keywords-data.js" %}"></script>
  <script language="javascript" src="{% static "scripts/ingredients-data.js" %}"></script>
  <script language="javascript" src="{% static "scripts/dish-properties.js" %}"></script>

</head>
<body>

<div data-role="page" id="meal-selection-page">
  <div data-role="panel" id="main-panel" data-display="reveal" data-position="left" data-theme="a">
    <a href="#dish-properties-page" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Dodaj danie</a>
  </div>
  <div data-role="header">
    <h1>CookBook {{ version }}</h1>
  </div>
  <div data-role="main" class="ui-content">
    <a href="#" class="ui-btn ui-meal-button ui-icon-breakfast"></a>
    <a href="#" class="ui-btn ui-meal-button ui-icon-soup"></a>
    <a href="#" class="ui-btn ui-meal-button ui-icon-dinner"></a>
    <a href="#" class="ui-btn ui-meal-button ui-icon-desert"></a>
  </div>
  <div data-role="footer">
    <h1>Select meal</h1>
  </div>
</div> 


<div data-role="page" id="dish-properties-page">
  <div data-role="header">
    <a href="#meal-selection-page" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
    <h1>CookBook {{ version }}</h1>
  </div>

  <div data-role="main" class="ui-content">

    <div data-role="popup" id="add-ingredient-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <h3>Nowy skladnik</h3>
        <input id="add-ingredient-name" value="" placeholder="Nazwa" data-theme="a" type="text">
        <input id="add-ingredient-quantity" value="" placeholder="1" data-theme="a" type="text">
		<div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
		  <input data-type="search" data-enhanced="true" data-inset="false" id="add-ingredient-unit" placeholder="Wybierz jednostke" value="">
		</div>
		<div data-role="controlgroup" data-enhanced="true" data-filter="true" data-filter-reveal="true" data-input="#add-ingredient-unit" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
		  <div id="add-ingredient-all-units-list" class="ui-controlgroup-controls">
		  </div>
        </div>
      </form>
    </div>
    <div data-role="popup" id="add-ingredient-unit-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <h3>Formy nowej jednostki</h3>
        <input value="" placeholder="jeden/jedna/jedno" data-theme="a" type="text">
        <input value="" placeholder="pol" data-theme="a" type="text">
        <input value="" placeholder="trzy" data-theme="a" type="text">
        <input value="" placeholder="dwadziescia piec" data-theme="a" type="text">
        <a href="#" id="add-new-unit" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>
    <div data-role="popup" id="edit-ingredient-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <h3>Edycja skladnika</h3>
        <input id="edit-ingredient-quantity" value="" placeholder="Ilosc" data-theme="a" type="text">
		<!-- unit finder -->
		<div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
		  <input data-type="search" data-enhanced="true" data-inset="false" id="edit-ingredient-unit" placeholder="Wybierz jednostke" value="">
		</div>
		<div data-role="controlgroup" data-enhanced="true" data-filter="true" data-filter-reveal="true" data-input="#edit-ingredient-unit" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
		  <div id="edit-ingredient-all-units-list" class="ui-controlgroup-controls">
		  </div>
        </div>
      </form>
    </div>
    <div data-role="popup" id="edit-recipe-section-name-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <input value="" placeholder="Nowa nazwa sekcji" data-theme="a" type="text">
        <a href="#" id="edit-recipe-section-name" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>
    <div data-role="popup" id="recipe-item-options" data-theme="none" data-arrow="true">
      <ul data-role="listview">
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn move-point-up">Przesun w gore</a></li>
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn move-point-down">Przesun w dol</a></li>
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn edit-point">Edytuj</a></li>
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn delete-point">Usun</a></li>
      </ul>
    </div>
    <div data-role="popup" id="edit-recipe-point-text-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <input value="" data-theme="a" type="text">
        <a href="#" id="edit-recipe-point-name" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>
    <div data-role="popup" id="add-keyword-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <input id="new-keyword" value="" placeholder="Nowa kategoria" data-theme="a" type="text">
        <a href="#" id="add-keyword" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>

    <form action="" method="post">{% csrf_token %}
      <div data-role="collapsibleset" data-content-theme="a" style="margin-left:15px; margin-right:15px;">
        <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
	      <h1>Informacje podstawowe</h1>
          <input id="dish-name" placeholder="Nazwa dania" value="" type="text">
          <fieldset id="dish-type" data-role="controlgroup" data-type="horizontal" data-mini="true">
            <input id="dish-type-breakfast" name="dish-type" value="0" type="radio" checked="checked">
            <label for="dish-type-breakfast">Sniadanie/Kolacja</label>
            <input id="dish-type-soup" name="dish-type" value="1" type="radio">
            <label for="dish-type-soup">Zupa</label>
            <input id="dish-type-main" name="dish-type" value="2" type="radio">
            <label for="dish-type-main">Danie glowne</label>
            <input id="dish-type-desert" name="dish-type" value="3" type="radio">
            <label for="dish-type-desert">Deser</label>
          </fieldset>
      	  <button type="button" data-icon="gear" data-iconpos="left" data-mini="true" data-inline="true" id="add-image">Ustaw zdjecie</button>
      	</div>

	    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      	  <h1>Skladniki</h1>
	      <table id="ingredinets-table" style="width:100%">
	      </table>
          <!-- ingredient finder -->
          <div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
            <input data-type="search" data-enhanced="true" data-inset="false" id="available-ingredients" placeholder="Wyszukaj istniejacy skladnik" value="">
          </div>
          <div data-role="controlgroup" data-enhanced="true" data-filter="true" data-filter-reveal="true" data-input="#available-ingredients" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
            <div id="all-ingredients-list" class="ui-controlgroup-controls">
            </div>
          </div>
          <a href="#" id="show-add-ingredient-popup" class="ui-btn ui-btn-icon-left ui-icon-plus ui-corner-all ui-btn-inline">Dodaj nowy skladnik</a>
          <a href="#" id="show-add-ingredient-unit-popup" class="ui-btn ui-btn-icon-left ui-icon-plus ui-corner-all ui-btn-inline">Dodaj nowa jednostke</a>
	    </div>

	    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
	      <h1>Przepis</h1>
	      <div id="recipe-sections">
          </div>
          <br/>
          <input id="new-recipe-section-name" placeholder="Dodaj kolejna sekcje" value="" type="text">
          <button id="add-recipe-section" type="button" data-icon="plus" data-iconpos="left" data-mini="true">Dodaj nowa sekcje</button>
        </div>

	    <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
	      <h1>Kategorie</h1>
	      <!-- list of selected keywords -->
	      <div id="keywords-list">
          </div>
          <!-- keyword finder -->
          <div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
            <input data-type="search" data-enhanced="true" data-inset="false" id="available-keywords" placeholder="Wyszukaj istniejaca kategorie" value="">
          </div>
          <div data-role="controlgroup" data-enhanced="true" data-filter="true" data-filter-reveal="true" data-input="#available-keywords" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
            <div id="all-keywords-list" class="ui-controlgroup-controls">
            </div>
          </div>
          <button type="button" data-icon="plus" data-iconpos="left" data-mini="true" data-inline="true" id="add-new-keyword">Dodaj nowa kategorie</button>
        </div>
      </div>

	  <!-- add new category, that was not used before -->
      </br>
      <input id="secret-password" placeholder="Haslo" value="" type="text">
	  <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <a href="#" id="dish-defined" class="ui-btn ui-corner-all">Gotowe</a>
        </div>
        <div class="ui-block-b">
          <a href="#" id="dish-definition-canceled" class="ui-btn ui-corner-all">Anuluj</a>
        </div>
	  </fieldset>	 
    </form>
  </div>

  <div data-role="footer">
    <h1>Edit meal</h1>
  </div>
</div>

<div data-role="page" id="dish-list-page">
  <div data-role="header">
    <a href="#meal-selection-page" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
    <h1>Dishes</h1>
  </div>
  <div data-role="main" class="ui-content">
    <ul id="dish-list" data-role="listview" data-autodividers="true" data-inset="true">
    </ul>
  </div>
  <div data-role="footer">
    <h1>Select dish</h1>
  </div>
</div>

<div data-role="page" id="dish-page">
  <div data-role="header">
    <a href="#meal-selection-page" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
    <h1>Dish name</h1>
  </div>
  <div data-role="main" class="ui-content">
    <img id="dish-photo" src="" alt="">
	<h3>Skladniki</h3>
      <ul id="dish-ingredients"></ul>
    <h3>Przepis</h3>
      <ol id="dish-recipe"></ol>
 	<h3>Slowa kluczowe</h3>
      <p id="dish-keywords"></p>
  </div>
  <div data-role="footer">
    <h1></h1>
  </div>
</div>

<script>
    $( document ).ready(function() {
        $('.ui-icon-breakfast').on('tap', function() { requestDishList('breakfast'); });
        $('.ui-icon-soup').on('tap', function() { requestDishList('soup'); });
        $('.ui-icon-dinner').on('tap', function() { requestDishList('dinner'); });
        $('.ui-icon-desert').on('tap', function() { requestDishList('desert'); });
    });
    $( document ).on('swipeleft swiperight', "#meal-selection-page", function( event ) {
		if ( $( ".ui-page-active" ).jqmData( "panel" ) !== "open" ) {
			if ( event.type === "swiperight" ) {
				$( "#main-panel" ).panel( "open" );
			}
        }
	});

    var ingredientsData = new IngredientsData();
    var unitsData = new UnitsData();
    var keywordsData = new KeywordsData();
    var dishPropertiesHandler = new DishProperies();
    dishPropertiesHandler.initialize(ingredientsData, unitsData, keywordsData);

</script>

</body>
</html>

