
<div data-role="page" id="dish-done-page">
  <div data-role="header">
    <a href="#dish-page" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-left">Strona dania</a>
    <h1>Ostatnie wykonanie</h1>
  </div>
  <div data-role="main" class="ui-content">
    <h2 id="dish-done-text" style="text-align:center;">Dzisiaj</h2>
    <br>
    <div id="dish-done-slider">
        <input min="0" max="14" value="0" type="range">
    </div>
    <br>
    <div id="dish-done-password">
        <!--<input placeholder="Haslo" value="" type="password">-->
        <a href="#" id='dish-done-confirm' class="ui-btn">Zatwierdź</a>
        <a href="#dish-page" class="ui-btn">Anuluj</a>
    </div>
  </div>
  <div data-role="footer">
    <h1></h1>
  </div>
</div>