
<div data-role="page" id="dish-properties-page">
  <div data-role="header">
    <a href="#meal-selection-page" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Wybór posiłku</a>
    <h1>CookBook</h1>
  </div>

  <div data-role="main" class="ui-content">

    <div data-role="popup" id="add-ingredient-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <h3>Nowy składnik</h3>
        <input id="add-ingredient-name" value="" placeholder="Nazwa" data-theme="a" type="text">
        <select id="add-ingredient-type" data-native-menu="false">
        </select>
        <div class="ui-field-contain">
          <input id="add-ingredient-quantity" value="" placeholder="1" data-theme="a" type="text">
          <select id="add-ingredient-unit" data-native-menu="false">
          </select>
        </div>
        <a href="#" id="add-new-ingredient" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>
    <div data-role="popup" id="edit-ingredient-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <h3>Edycja skladnika</h3>
        <input id="edit-ingredient-quantity" value="" placeholder="Ilosc" data-theme="a" type="text">
        <select id="edit-ingredient-unit" data-native-menu="false">
        </select>
        <a href="#" id="edit-ingredient" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>
    <div data-role="popup" id="edit-recipe-section-name-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <input value="" placeholder="Nowa nazwa sekcji" data-theme="a" type="text">
        <a href="#" id="edit-recipe-section-name" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>
    <div data-role="popup" id="recipe-item-options" data-theme="none" data-arrow="true">
      <ul data-role="listview">
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn move-point-up">Przesun w gore</a></li>
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn move-point-down">Przesun w dol</a></li>
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn edit-point">Edytuj</a></li>
        <li><a href="#" data-rel="dialog" data-icon="false" class="ui-btn delete-point">Usun</a></li>
      </ul>
    </div>
    <div data-role="popup" id="edit-recipe-point-text-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <input value="" data-theme="a" type="text">
        <a href="#" id="edit-recipe-point-name" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>
    <div data-role="popup" id="add-category-popup" data-theme="a" class="ui-corner-all">
      <form style="padding:10px 20px;">
        <input id="new-category" value="" placeholder="Nowa kategoria" data-theme="a" type="text">
        <a href="#" id="add-category" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-none">Zatwierdz</a>
      </form>
    </div>

    <form action="" method="post">{% csrf_token %}
      <div data-role="collapsibleset" data-content-theme="a" style="margin-left:15px; margin-right:15px;">
        <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
          <h1>Informacje podstawowe</h1>
          <input id="dish-name" placeholder="Nazwa dania" value="" type="text">
          <fieldset id="dish-type" data-role="controlgroup" data-type="horizontal" data-mini="true">
            <input id="dish-type-breakfast" name="dish-type" value="0" type="radio" checked="checked">
            <label for="dish-type-breakfast">Sniadanie/Kolacja</label>
            <input id="dish-type-soup" name="dish-type" value="1" type="radio">
            <label for="dish-type-soup">Zupa</label>
            <input id="dish-type-main" name="dish-type" value="2" type="radio">
            <label for="dish-type-main">Danie glowne</label>
            <input id="dish-type-desert" name="dish-type" value="3" type="radio">
            <label for="dish-type-desert">Deser</label>
          </fieldset>
          <input data-clear-btn="true" name="dish-image-path" id="dish-image-path" value="" type="file">
        </div>

        <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
          <h1>Skladniki</h1>
          <table id="ingredinets-table" style="width:100%">
          </table>
          <!-- ingredient finder -->
          <div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
            <input data-type="search" data-enhanced="true" data-inset="false" id="available-ingredients" placeholder="Wyszukaj istniejacy skladnik" value="">
          </div>
          <div data-role="controlgroup" data-enhanced="true" data-filter="true" data-filter-reveal="true" data-input="#available-ingredients" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
            <div id="all-ingredients-list" class="ui-controlgroup-controls">
            </div>
          </div>
          <a href="#" id="show-add-ingredient-popup" class="ui-btn ui-btn-icon-left ui-icon-plus ui-mini ui-corner-all ui-btn-inline">Dodaj nowy skladnik</a>
        </div>

        <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
          <h1>Przepis</h1>
          <div id="recipe-sections">
          </div>
          <br/>
          <input id="new-recipe-section-name" placeholder="Dodaj kolejna sekcje" value="" type="text">
          <button id="add-recipe-section" type="button" data-icon="plus" data-iconpos="left" data-mini="true">Dodaj nowa sekcje</button>
        </div>

        <div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
          <h1>Kategorie</h1>
          <!-- list of selected categories -->
          <div id="categories-list">
          </div>
          <!-- category finder -->
          <div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
            <input data-type="search" data-enhanced="true" data-inset="false" id="available-categories" placeholder="Wyszukaj istniejaca kategorie" value="">
          </div>
          <div data-role="controlgroup" data-enhanced="true" data-filter="true" data-filter-reveal="true" data-input="#available-categories" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
            <div id="all-categories-list" class="ui-controlgroup-controls">
            </div>
          </div>
          <button type="button" id="add-new-category" class="ui-btn ui-btn-icon-left ui-icon-plus ui-mini ui-corner-all ui-btn-inline">Dodaj nowa kategorie</button>
        </div>
      </div>

      <!-- add new category, that was not used before -->
      <br>
      <input id="new-dish-password" placeholder="Haslo" value="" type="password">
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <a href="#" id="dish-defined" class="ui-btn ui-corner-all">Gotowe</a>
        </div>
        <div class="ui-block-b">
          <a href="#" id="dish-definition-canceled" class="ui-btn ui-corner-all">Anuluj</a>
        </div>
      </fieldset>	 
    </form>
  </div>

  <div data-role="footer">
    <h1>Edycja dania</h1>
  </div>
</div>
