
<div data-role="page" id="meal-selection-page">
  <div data-role="panel" id="main-panel" data-display="reveal" data-position="left" data-theme="a">
    <a href="#" id="dish-plan-option" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-state-disabled">Plan posilkow</a>
    <a href="#" id="shopping-list-option" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-state-disabled">Lista zakupow</a>
    <a href="#" id="ingredient-list-option" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-state-disabled">Lista skladnikow</a>
    <a href="#" id="add-dish-option" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Dodaj danie</a>
  </div>
  <div data-role="header">
    <h1>CookBook</h1>
  </div>
  <div data-role="main" class="ui-content">
    <a href="#" class="ui-btn ui-meal-button ui-icon-breakfast"></a>
    <a href="#" class="ui-btn ui-meal-button ui-icon-soup"></a>
    <a href="#" class="ui-btn ui-meal-button ui-icon-dinner"></a>
    <a href="#" class="ui-btn ui-meal-button ui-icon-desert"></a>
  </div>
  <div data-role="footer">
    <h1>Copyright © {{ version }} Piotr Byszewski</h1>
  </div>
</div> 
