.ui-meal-button {
    width: 60px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-repeat: no-repeat;
    background-position: center center;
}
.ui-icon-breakfast {
    background-image: url(images/breakfast.png);
}          
.ui-icon-soup {
    background-image: url(images/soup.png);
}          
.ui-icon-dinner {
    background-image: url(images/dinner.png);
}          
.ui-icon-desert {
    background-image: url(images/desert.png);
}

#dish-recipe h4 {
    margin-left: 10px;
}

#dish-done-button {
    float: right;
    margin-right: 10px;
}

#dish-done-slider input {
    display: none;
}

#dish-done-slider .ui-slider-track {
    margin-left: 15px;
}

#dish-done-text {
    text-align:center;
}

#dish-done-slider {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#dish-done-password {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}